<form action="/cart" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" name="productId" value="<%= product._id %>">
    <button type="submit"><i class="ti-shopping-cart"></i></button>
  </form>