<%- include('./includes/head.ejs') %>
</head>
  <%- include('./includes/navigation.ejs') %>
    <div class="col-sm-12" style="text-align: center; height: 300px; padding-top: 75px;">
        <h3>404 ERROR!! Page Not Found!!</h3>
    </div>
  <%- include('./includes/footer.ejs') %>
  <%- include('./includes/end.ejs') %>